* {
    margin: 0;
    pading: 0;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/********组件功能*********/
/*导航钮*/
.nav:hover {
    background: black;
    cursor: pointer;
}

.button:hover {
    color: #000;
    background: white;
    border: 1px solid #000;
}

.form .input_style:hover {
    background: transparent;
    border: 2px solid #07cbc9;
}

.form .button:hover {
    background: #07cbc9;
    color: white;
    border: 0px;
}

.gray {
    color: gray;
}

.border_bottom {
    width: 50px;
    height: 2px;
    background: #07cbc9;
    margin: 0 auto;
}

/*头和脚****************/
.header, .footer {
    background: #07cbc9;
    width: 100%;
    height: 80px;
    position: relative;
}

.header img {
    float: left;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 123px;

}

.header ul {
    float: right;
    padding-right: 100px;
}

.header ul li {
    float: left;
    line-height: 80px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.footer{
    line-height: 80px;
    text-align: center;
    color: white;
}

/*主体****************/
.banner {
    /*float: left;*/
    overflow: hidden;
    zoom: 1;
}

.banner img {
    width: 100%;
    height: 600px;
    float: left;
    position: relative;
}

.banner .shadow {
    width: 100%;
    height: 600px;
    position: absolute;
    background: black;
    opacity: 0.5;
    float: left;
}

.banner .form {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 400px;
    margin-top: -150px;
    z-index: 2;
    right: 50%;
    margin-right: -230px;
    text-align: center;
}

.banner .form input {
    background: transparent;
    border: 2px solid gray;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px;
}

.banner .form textarea {
    background: transparent;
    border: 2px solid gray;
    height: 100px;
    width: 100%;
    max-width: 500px;
    max-height: 100px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.banner .form .button {
    width: 130px;
    color: gray;
}

/*about 内容*/
.about {
    width: 100%;
    height: 540px;
    padding-top: 68px;
}

.about_center, .about_left, .about_right {
    /*border: 1px solid;*/
    float: left;
    position: relative;
    word-break: break-all;
    overflow: hidden;
    zoom: 1;
}

.about_center {
    width: 100%;
    text-align: center;

}

.about_center img {
    width: 568px;
    height: 378px;
}

.about_center p {
    width: 450px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.about_left {
    margin-left: -100%;
    left: 200px;
    top: 120px;
}

/*370 240*/
.about_left div {
    border: 1px solid gray;
    background: rgba(236, 236, 236, 0.4);
}

.about_left div p {
    width: 300px;
    height: 170px;
    padding-left: 10px;
    padding-top: 10px;
    color: #000;
}

.about_left button {
    width: 100px;
    height: 43px;
    background: #000;
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 0px;
}

.about_p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.about_right {
    width: 200px;
    float: right;
    margin-left: -100%;
    right: 110px;
    top: 110px;
    text-align: center;

}

.about_right .about_right_top .border_bottom, .about_right .about_right_bottom .border_bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about_right .about_right_top {
    border: 1px solid #07cbc9;
    height: 140px;
    width: 200px;
    display: table-cell;
    vertical-align: middle;
}

.about_right .about_right_bottom {
    margin-top: 20px;
    border: 1px solid #07cbc9;
    height: 140px;
    width: 200px;
    display: table-cell;
    vertical-align: middle;
}
.about_right .about_right_bottom h4,.about_right .about_right_top h4{
    font-size: 30px;
}

/*about_bottom*/
.about_bottom {
    width: 100%;
    /*text-align: center;*/
}

.about_bottom table {
    width: 100%;
    /*height: 100%;*/
}

.about_bottom table tr td img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.content {
    position: relative;
    background: #07cbc9;
    border: 1px solid #07cbc9;
    vertical-align: top;
}

.content .content_01 {
    word-break: break-all;
    padding: 20px;
    text-align: center;

}
.content .content_01 p,.content .content_01 h3{
    text-align: left;
    color: #f2f9ee;
}
.content .content_01 p{
    line-height: 1.2em;
}
.content .content_01 .p2{
    color: #cedbcf;
}
.content .content_01 .button{
    width: 100px;
    height: 43px;
    background: #000;
    color: white;
    border: 0px;
    margin: 20px auto;

}
.content .content_01 .button:hover{
    background: transparent;
    border: 1px solid #000;
}

/*箭头-left*/
.arrow_left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px;
    border-color: transparent #07cbc9 transparent transparent;
    position: absolute;
    top: 45%;
    left: -40px;
}

/*箭头-right*/
.arrow_right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent transparent #07cbc9;
    position: absolute;
    top: 45%;
    right: -40px;
}
/*gallery****************/
.gallery{
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    word-break: break-all;
    padding-top: 50px;
}
.gallery .title .desc{
    width: 450px;
    margin: 0 auto;
    color: gray;
    padding-bottom: 50px;
    padding-top: 10px;
}
.gallery table{
    width: 100%;
    padding-bottom: 30px;
}
.gallery table tr td img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.gallery table tr td p{
    background: #000;
    color: white;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
}